@import "tailwindcss";
@import "tw-animate-css";


body {
  font-family: "Ubuntu", sans-serif;
}

.circle{
  position: absolute;
  left: 45%;
}
/* .skillpage{
  height: 100%;
} */
/* 
.panel2{
background: linear-gradient(to right, rgba(128,0,128,0.8), rgba(0,0,0,0.9), rgba(255, 166, 0, 0.7));
} */